/*eric animation*/
html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center; 
    background: url() no-repeat 50% 50%;
    height: 100vh; 
    display: table;
}

.image-left-wrapper{
    position: absolute;
    top: 90%;
    left: 7%;
    transform: translate(-50%,-50%);
    width: 50%;

}
.image-middle-wrapper {
    position: absolute;
    top: 93%;
    left: 16%;
    transform: translate(-50%,-50%);
    width: 5%;

}

.image-right-wrapper {
    position: absolute;
    top: 93%;
    left: 16%;
    transform: translate(-50%,-50%);
    width: 5%;
}

/*/* hover */
.wrapper-icon:hover {
  opacity: 0.7;
}

.wrapper-icon-right:hover{
    opacity: 0.7;
}
